[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
django-bootstrap4 = "*"
bootstrap4 = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
